# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Memory captures
[Mm]emoryCaptures/

# Asset meta data should be included, but these are generated
*.tmp

# Visual Studio / Rider / IDE files
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Unity crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
